.hide {
    display: none;
}

/* CSS untuk tampilan tab */
.tab-link-profil,
.tab-link-ma {
    padding: 12px 20px;
    background-color: white;
    text-decoration: none;
    color: #333;
    border-radius: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.tab-link-profil.active-tab,
.tab-link-ma.active-tab {
    background-color: purple;
    color: white;
    border-color: purple;
}

.tab-link-profil:hover:not(.active-tab),
.tab-link-ma:hover:not(.active-tab) {
    background-color: purple;
    color: white;
    text-decoration-line: underline;
}

.tab-content .tab-pane-profil,
.tab-content .tab-pane-ma {
    display: none;
}

.tab-content .show {
    display: block;
}

/* clear float nicholas gallagher */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
